.shadowBorder {
    padding: 15px;
    box-shadow: 1px 2px 13px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 1px 2px 12px rgba(34,25,25,0.4);
    -webkit-box-shadow: 1px 2px 10px rgba(34, 25, 25, 0.4);
    width: max-content;
    display: block;
  }