@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

h1, #name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
}
.handContainer h1:hover {
    color: #edeeef;
}

.handContainer:hover {
    color:#262424;
}

.handContainer {
    display: inline-block;
    margin: 0px 50px 0px 50px;
    background: #00a651;
    text-align: center;
}
.handContainer:first-child  {
    margin: 20px 50px 20px 50px
}
.handContainer:last-child  {
    margin: 20px 50px 50px 50px}

.hand {
    margin: 50px;
}

/* For modern browsers */

.hand:before,
.hand:after {
    content: "";
    display: table;
}

.hand:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */

.hand {
    zoom: 1;
}